html{
	font-size: 62.5%;
}

@media screen and (min-width: 641px) and (max-width: 1200px){

  html{
    font-size: 56.25%;
  }
}

@media screen and (max-width: 640px){

  html{
    font-size: 50%;
  }
}

/*@media screen and (min-width: 641px) and (max-width: 1200px)*/

body{
	margin: 0;
	color: #000000;
	font-family: OpenSans-Regular;
	font-size: 1.6rem;
}

.main-container{
	box-sizing: border-box;
	position: relative;
	
	max-width: 1300px;
	
	margin: 0 auto;
	padding: 0px 15px;
}

.header__menu{
	background-color: #313030;
}

a{
	text-decoration: none;
	color: inherit;
}

/*a:focus,a:visited{
	color: inherit;
}*/

p{
	margin: 0;
	line-height: 1.4;
}

@font-face{
	font-family: "OpenSans-Regular";
	src: url("../fonts/OpenSans-Regular.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}

@font-face{
	font-family: "OpenSans-Bold";
	src: url("../fonts/OpenSans-Bold.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}

@font-face{
	font-family: "OpenSans-Extrabold";
	src: url("../fonts/OpenSans-Extrabold.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}

@font-face{
	font-family: "OpenSans-Italic";
	src: url("../fonts/OpenSans-Italic.ttf") format("truetype");
	font-style: italic;
	font-weight: normal;
}

img{
	max-width: 100%;
}

.field{
	box-sizing: border-box;
	width: 100%;
	padding: 3rem 5rem;
	font-size: 1.8rem;
	outline: 0;
	border: none;
	border-radius: 10px;
	background-color: #e5e5e5;
}


.title{
	margin: 0;
	font-size: 2.4rem;
	text-transform: uppercase;
	font-family: "OpenSans-Bold";
}

.title_xl{
	font-size: 6rem;
	font-family: "OpenSans-Extrabold";
}

.title_l{
	font-size: 4.2rem;
}

.header__title{
	margin-bottom: 4rem;
}

@media screen and (max-width: 641px){
	
	.title{
	font-size: 1.8rem;
	}
	
	.title_xl{
	font-size: 4rem;
	font-family: "OpenSans-Extrabold";
	}

	.title_l{
		font-size: 2.2rem;
	}
	
}


.flex-container{
	display: flex;
}


@media screen and (max-width: 641px){
	
.flex-container{
		flex-wrap: wrap;
	}

}

.menu{
	justify-content: center;
}

.menu__item{
	text-transform: uppercase;
	font-family: "OpenSans-Bold";
}

.header__menu-item{
	padding: 2.2rem 1.8em;
	color: #f6f2f2;
	font-size: 1.4rem;
}

.header__menu-item:hover{
	background-color: #ff3f40;
}

.button{
	padding: 1.8rem 5.5rem;
	border: 1px solid #ff3f40;

	text-transform: uppercase;

	border-radius: 1rem;
	outline: none;
	cursor: pointer;

	background-color: #ff3f40;
	color: #f6f2f2;
	font-family: "OpenSans-Bold";
	font-size: 1.8rem;
	
	transition: background-color .4s ease-out, color .4s, border .4s;
}

.button:hover{
	background-color: #f6f2f2;
	color: #ff3f40;
	border: 1px solid #ff3f40;
}

.header__column{
	width: 50%;
	margin-right: 10%;
}

.header__column:last-child{
	margin-right: 0;
}

.header__column-left{
	width: 40%;
}

@media screen and (max-width: 641px){
	
	.header__column{
	width: 100%;
	margin-right: 0;
	margin-bottom: 2rem;
	}

	.header__column:last-child{
		margin-bottom: 0;
	}
	
	.header__column-left{
		width: 100%;
	}
}

.header__column-right{
	text-align: right;
}

.header{
	padding-top: 2.5rem;
	background-color: #f6f2f2;
}

.header__container{
	padding-top: 10rem;
	padding-bottom: 10rem;
}

.header__content{
	margin-bottom: 6rem;
}

.services__title{
	margin-bottom: 5rem;
}

.services__container{
	padding-top: 10rem;
	padding-bottom: 10rem;
}

.section{
	margin-bottom: 9rem;
}

.section:last-child{
	margin-bottom: 0;
}

.services__container::after{
	content: "";
	position: absolute;
	bottom: 0;
	width: 100%;
	border-bottom: 1px solid grey;
}

.services__column{
	margin-right: 13%;
}

.services__column:last-child{
	margin-right: 0;
}

.services__column-left{
	width: 39%;
}

.services__column-right{
	width: 48%;
}

@media screen and (max-width: 641px){
	
	.services__column-left{
	width: 100%;
}

	.services__column-right{
		width: 100%;
	}
	
	.services__column{
	margin-bottom: 2rem;
	}

	.services__column:last-child{
		margin-bottom: 0;
	}
	
}

.services__content{
	margin-bottom: 6rem;
}

.grid-container{
	display: grid;
}

.services__grid{
	grid-template-columns: 1fr 1fr;
	grid-template-rows: auto auto;
	grid-column-gap: 3rem;
	grid-row-gap: 4.5rem;
}

.article__title{
	margin-bottom: 1rem;
}

.article__icon{
	margin-bottom: 3rem;
}

.feature-products__header{
	text-align: center;
	margin: 0 auto;
}

.feature-products__header-content{
	margin: 0 auto;
}

.section__header{
	
}

.section__header-content{
	position: relative;
	width: 32%;
	 padding-bottom: 3rem;
}

 

.section__header-content::after{
	 content: "";
	position: absolute;
	bottom: 0;
	width: 14rem;
	border-bottom:1px solid #ff3f40;
 
}

.feature-products__header-content::after{
	left: 50%;
	transform: translate(-50%, 0);
} 

.section__title{
	margin-bottom: 3.6rem;
}

.section__content{
	padding-top: 7rem;
}

.feature-products__menu{
	margin-bottom: 7rem;
}

@media screen and (max-width: 641px){
	
	.feature-products__menu{
		justify-content: space-around;
	}

}

.feature-products__menu-item{
	font-size: 2.2rem;
	padding: 0 3rem;
}

.feature-products__menu-item:hover{
	color: #ff3f40; 
}

.feature-products__gallery_grid{
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-rows: auto auto;
	grid-column-gap: 1.5rem;
	grid-row-gap: 2rem;
}

.team__column-left{
	margin-right: 6%;
	width: 27%;
}

.team__column-right{
	width: 67%;
}

.employee__info{
	padding-top: 1rem;
}

.employee__title{
	margin-bottom: 3rem;
}

.employee__content{
	width: 75%;
	margin-bottom: 4rem;
}

.employee__social{
	font-family: "OpenSans-Italic";
	font-size: 1.8rem;
	margin-bottom: 6.5rem;
	color: inherit;
}

.employee__social-item{
	margin-right: 2rem;
}

.employee__social-item:hover{
	color: #ff3f40;
}

.employee__social-item:last-child{
	margin-right: 0rem;
}

.employee__gallery{
	justify-content: space-between;
}

/*.team{
	padding-bottom: 9rem;
}*/

.banner{
	background-color: #ff3f40;
	padding-top: 13rem;
	padding-bottom: 13rem;
	color: #f6f2f2;
	margin-bottom: 10rem;
}

.banner__form{
	justify-content: center;
}

.banner__field{
	width: 30%;
	margin-right: 3rem;
}

.banner__button{
	background-color: #f6f2f2;
	color: #ff3f40;
}

.banner__button:hover{
	background-color: #ff3f40;
	color: #f6f2f2;
}

.banner__title{
	text-align: center;
	
}

.contacts-us__header-content{
	width: 60%;
}

.contacts-us__form{
	width: 60%;
}

.form__row{
	margin-bottom: 4rem;
}

.form__row:last-child{
	margin-bottom: 0rem;
}

.form__flex{
	justify-content: space-between;
}

.form__column{
	width: 48%;
}

.textarea{
	min-height: 25rem;
	max-height: 40rem;
	font-size: 2.2rem;
}

.contacts-us__label{
	position: absolute;
	left:-9999px;
}

.contacts-us__button{
	width: 100%;
}

.footer{
	background-color: #313030;
	color: #f6f2f2;
	padding-top: 4rem;
	padding-bottom: 3rem;
}

.footer-flex{
	justify-content: space-between;
	align-items: center;
}

.footer__copyright{
	vertical-align: middle;
}

.footer__contacts-item{
	margin-right: 1.5rem;
}

.footer__contacts-item:last-child{
	margin-right: 0rem;
}